/*
Theme Name: Grávidas e Antenadas - Tema Exclusivo
Theme URI: http://gravidaseantenadas.com.br
Author: Sour Comunicação
Author URI: http://sour.com.br/
Version: 1.0
License: Private
*/

/* =WordPress Core
-------------------------------------------------------------- */

.nivo-caption::first-line { 
    background-color: yellow;
}

.alignnone {
    margin: 5px 20px 20px 0;
}
.avatar.alignnone{
    margin:0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

@media(max-width:500px){
	.social{
		display: none;
  }
  
  .instagram .row .list-unstyled li a{
   display: table;
   width: 100%;
 	}
  
  .responsive-mobile{
   display: none
  }
}

.colunista .show-perfil-link{
	display: block;	
	height: 30px;
	line-height: 30px;
	margin-bottom: 	10px;
}
.colunista .font-new{
	padding: 0;
}


/* ============================================================
  CUSTOM PAGINATION
============================================================ */
.custom-pagination span,
.custom-pagination a {
  display: inline-block;
  padding: 6px 14px;
}
.custom-pagination a {
  background-color: #ebebeb;
  color: #ff3c50;
}
.custom-pagination a:hover {
  background-color: #f66786;
  color: #fff;
}
.custom-pagination span.page-num {
  margin-right: 10px;
  padding: 0;
}
.custom-pagination span.dots {
  padding: 0;
  color: gainsboro;
}
.custom-pagination span.current {
  background-color: #da2f60;
  color: #fff;
}


/* ============================================================
  COMMENTS
============================================================ */


		h3#comments,
		.comment-navigation,
		.comment-navigation:after,
		#respond:after,
		.comment-rss{display:block} 
		
		ol.commentlist{width:100%;margin-bottom:20px} 
		

		form#commentform,
		input#submit{margin:0px;}
		
		ol.commentlist,
		ol.commentlist ul,
		form#commentform{padding:0}
		
		ol.commentlist ul{margin:0 0 0 20px}
		
		ol > li.comment{
			margin-bottom: 5px;
		}
		
		ol > li.comment p{
			margin-bottom: 0px;
		}
		
		li.authorcomment,
		li.comment,
		form#commentform textarea,
		form#commentform input{border:1px solid #ddd}
		
		li.authorcomment,
		li.comment{padding:10px 0 10px 10px;list-style:none;} 
		
		li.even{background:#fff} 
		
		li.odd{background:#eee}
		
		ul.children ul{margin-left:20px}
		
		ul.children li{border-right:none}
		
		.vcard img{float:left;margin-right:10px!important;} 
		.vcard img,
		.comment-navigation .newer a,
		.comment-navigation .older a{margin-right:8px;} 
		
		.comment-meta,ol.commentlist li small,p.subscribe-to-comments label{position:relative}
		.comment-text{margin:0 10px 0 0} 
		
		.comment-body{
			position: relative;
		}
		.reply{
			display: block;
			background: #ccc;
			position: absolute;
			top:0;
			right:0;
		}

		.reply, .comment-navigation .newer a,.comment-navigation .older a,input#submit{background:#ccc;padding:5px;}
		
		a.comment-reply-link,
		.reply a:link,
		.comment-navigation .newer a,
		.comment-navigation .older a,
		input#submit{display:inline-block;text-align:center;cursor:pointer;color:#fff} 
		
		.comment-navigation:after,#respond:after{content:".";height:0;visibility:hidden} 
		.clear{clear:both} 
		.comment-navigation .newer a:hover,.comment-navigation .older a:hover{padding:4px}
		p.subscribe-to-comments{background:url('images/email_32.png') no-repeat} 
		p.subscribe-to-comments,.comment-rss{height:32px;text-indent:42px;padding:5px 0 0 0} 
		p.subscribe-to-comments input{margin:5px 3px 3px 3px !important;border:0}
		p.subscribe-to-comments label{top:-2px;color:#666}
		.comment-rss{background:url('images/rss_32.png') no-repeat}

		/*comment total stlying*/

		.comment-total{text-align: center;font-size: 1.5em;color: #fff;}
		.comment-total span{font-size: 2em;color: #800000;}







#comments{
	margin-top: 20px;
	border-top:1px solid #eee;
}

#respond{
	margin:0 0 30px 0;
	clear:both;
}

#respond form input{
	margin-bottom:15px;
}

#respond form textarea{
	height:160px!important;
	margin-bottom:10px;
}